<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<div id="app" style="width: 100%;">
			<table style="margin: 0 auto;">
				<thead>
					<tr>
						<td>姓名</td>
						<td>年龄</td>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(user,index) in users">
						<td>{{index+1}}.{{user.name}}</td>
						<td>{{user.age}}</td>
					</tr>
				</tbody>

			</table>
			
			
			<br />
			<ul>
				<li v-for="(value, key, index) in info">
					{{value}}--{{key}}--{{index}}
				</li>
			</ul>
			
		</div>
	</body>
	<script type="text/javascript" src="../js/vue.js"></script>
	<script>
		var vm = new Vue({
			el: "#app",
			data: {
				"users": [{
						"name": "刘备",
						"age": 34
					},
					{
						"name": "关羽",
						"age": 32
					},
					{
						"name": "张飞",
						"age": 30
					},
					{
						"name": "赵云",
						"age": 28
					}
				],
				"info": {
					"name": "张胜男",
					"age": 18,
					"性别": "女"
				}

			}
		})
	</script>

</html>